@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');
/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    @apply leading-[normal] m-0;
  }
  *,
  ::before,
  ::after {
    border-width: 0;
  }

  .viga-regular {
    font-family: "Viga", sans-serif;
    font-style: normal;
  }
  .text-black {
    --tw-text-opacity: 1;
    color: rgb(34 34 34 / var(--tw-text-opacity)) !important;
}
.lobster-regular {
    font-family: "Lobster", sans-serif;
    font-style: normal;
  }
.text-green-gradient{
    background: -webkit-linear-gradient(98.81deg, #53E88B -0.82%, #15BE77 101.53%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /*color: linear-gradient();*/
}
.text-black-green-gradient{
    background: -webkit-linear-gradient(98.81deg, #21392a -0.82%, #1df199 101.53%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.bg-green-gradient{
    background: linear-gradient(98.81deg, #53E88B -0.82%, #15BE77 101.53%) !important;
}

.bg-img-white{
  filter: brightness(0) invert(1);
}

body{
    font-family: 'Exo', sans-serif;
}

.circles li {
  @apply fixed block w-5 h-5 animate-[animate_25s_linear_infinite] bottom-[-150px];
  list-style: none;
  background: rgba(255, 255, 255, 0.2);
}
.circles li:nth-child(1) {
  @apply w-20 h-20 left-1/4;
  animation-delay: 0s;
}
.circles li:nth-child(2) {
  @apply w-5 h-5 left-[10%];
  animation-delay: 2s;
  animation-duration: 12s;
}
.circles li:nth-child(3) {
  @apply w-5 h-5 left-[70%];
  animation-delay: 4s;
}
.circles li:nth-child(4) {
  @apply w-[60px] h-[60px] left-[40%];
  animation-delay: 0s;
  animation-duration: 18s;
}
.circles li:nth-child(5) {
  @apply w-5 h-5 left-[65%];
  animation-delay: 0s;
}
.circles li:nth-child(6) {
  @apply w-[110px] h-[110px] left-3/4;
  animation-delay: 3s;
}
.circles li:nth-child(7) {
  @apply w-[150px] h-[150px] left-[35%];
  animation-delay: 7s;
}
.circles li:nth-child(8) {
  @apply w-[25px] h-[25px] left-2/4;
  animation-delay: 15s;
  animation-duration: 45s;
}
.circles li:nth-child(9) {
  @apply w-[15px] h-[15px] left-[20%];
  animation-delay: 2s;
  animation-duration: 35s;
}
.circles li:nth-child(10) {
  @apply w-[150px] h-[150px] left-[85%];
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.animate-bg-img {
    animation: bg-img-animate 1s infinite alternate;
}

@keyframes bg-img-animate {
    to {
        margin-top: 10px;
    }
    from {
        margin-bottom: 10px;
    }
}


.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: relative;
    z-index: 9999;
    display: inline-block;
    border-top: 4px solid #FFF;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}
.loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    z-index: 9999;
    top: 0;
    width: 48px;
    display: flex;
    justify-content: center;
    height: 48px;
    border-radius: 50%;
    border-left: 4px solid #FF3D00;
    border-bottom: 4px solid transparent;
    animation: rotation 0.5s linear infinite reverse;
}
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 
