@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');
/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    @apply leading-[normal] m-0;
  }
  *,
  ::before,
  ::after {
    border-width: 0;
  }

  .viga-regular {
    font-family: "Viga", sans-serif;
    font-style: normal;
  }
  .text-black {
    --tw-text-opacity: 1;
    color: rgb(34 34 34 / var(--tw-text-opacity)) !important;
}
.lobster-regular {
    font-family: "Lobster", sans-serif;
    font-style: normal;
  }
.text-green-gradient{
    background: -webkit-linear-gradient(98.81deg, #53E88B -0.82%, #15BE77 101.53%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /*color: linear-gradient();*/
}
.text-black-green-gradient{
    background: -webkit-linear-gradient(98.81deg, #21392a -0.82%, #1df199 101.53%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.bg-green-gradient{
    background: linear-gradient(98.81deg, #53E88B -0.82%, #15BE77 101.53%);
}
